HEDERA_NETWORK=testnet
HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=
X402_FACILITATOR_URL=
X402_PAY_TO=
X402_UNIT_PRICE_HBAR=
X402_MIN_HBAR=
X402_MAX_HBAR=
BOOKING_FEE_HBAR=
QUOTE_TTL_SECONDS=
PAID_TTL_SECONDS=
